<div fxLayout="row" style="height:100%;flex:1 0 100%">
    <gx-nav-tree-view fxItem='none' fxItemOrder=2 (itemClick)="onItemClick($event)" (itemCloseClick)="onItemCloseClick($event)"></gx-nav-tree-view>
    <div fxLayout='column' fxItem="fill" fxItemFill>
        <ng-container *ngFor="let grp of formGroups">
            <x-pur-list *ngFor="let list of getLists(grp)" [pageModel]="list"></x-pur-list>
            <x-pur-detail *ngFor="let item of getDetails(grp)" [pageModel]="item"></x-pur-detail>
        </ng-container>
        <ng-template gxHostContainer></ng-template>
    </div>
</div>