<div [ngClass]="'ui-tabview ui-widget ui-widget-content ui-corner-all ui-tabview-' + navOrientation" [ngStyle]="style" [class]="styleClass">
    <ul gx-tabViewNav role="tablist" *ngIf="navOrientation != 'bottom'" [tabs]="tabModels" [orientation]="navOrientation" (onTabClick)="open($event.originalEvent, $event.tab)" (onTabCloseClick)="close($event.originalEvent, $event.tab)"></ul>
    <div class="ui-tabview-panels">
        <ng-content></ng-content>
    </div>
    <ul gx-tabViewNav role="tablist" *ngIf="navOrientation == 'bottom'" [tabs]="tabModels" [orientation]="navOrientation" (onTabClick)="open($event.originalEvent, $event.tab)" (onTabCloseClick)="close($event.originalEvent, $event.tab)"></ul>
</div>