.example-container {
    display: flex;
    flex-direction: column;
    max-height: 550px;
    min-width: 300px;
}

.example-header {
    min-height: 64px;
    padding: 8px 24px 0;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
    border: 1px solid gray;
}

.mat-table .mat-header-row {
    background-color: #f3f3f3;
}

.mat-table .mat-header-cell {
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}

.mat-table .mat-row,
.mat-table .mat-header-row {
    padding: 0px 0px;
    //  border-bottom-width: 0px;
    //  border-bottom-style: none;
    border-bottom-color: gray;
    // margin: -1px 0px;
}

.mat-table .mat-cell {
    border-right: 1px solid gray;
    // border-bottom: 1px solid gray;
    height: 48px;
    justify-content: flex-start;
    align-items: center;
}

.mat-table .mat-sort-header-container {
    height: 48px;
    justify-content: center;
    border: 1px sloid blue;
}

.mat-table .mat-sort-header-arrow {
    margin: auto 6px;
}

.mat-table mat-row.mat-row:hover {
    background-color: rgba(84, 94, 233, 0.3) !important;
}

.mat-table mat-row.row-selected {
    background-color: rgb(226, 221, 142) !important;
}

.mat-table mat-row mat-cell.cell-selected {
    background-color: rgb(51, 31, 223) !important;
}

.mat-table .mat-cell {
    display: flex;
    justify-content: flex-start;
}

.mat-table .mat-row:nth-of-type(odd) {
    background-color: #fff;
}

.mat-table .mat-row:nth-of-type(even) {
    background-color: #d6d6d6;
}

.mat-column-select {
    overflow: visible !important;
}

.mat-table .mat-column-lineNo {
    flex: 0 0 25px;
    height: 48px;
}