<p>
    purchase-order-list works!
</p>

<gx-split-container [splitterDistance]="0" showSplitter panel1MinSize=0 collpasePanel=1 cdkTrapFocus borderStyle='border' [panel1Style]="{ color: 'black' }" height=550>
    <gx-split-container-item panelType="panel1">
    </gx-split-container-item>
    <gx-split-container-item panelType="panel2">
        <gx-split-container orientation=2 collpasePanel='2'>
            <gx-split-container-item panelType="panel1">
                <div class="example-container mat-elevation-z8">
                    <div class="example-header">
                        <mat-form-field>
                            <input #globalFilter matInput (keyup)="applyFilter($event)" placeholder="Filter">
                        </mat-form-field>
                    </div>
                    <mat-table *ngIf="false" #table [dataSource]="dataSource" matSort>
                        <ng-container matColumnDef="select">
                            <mat-header-cell mat-sort-header *matHeaderCellDef>
                                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                                </mat-checkbox>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <mat-checkbox (click)="$event.stopPropagation()" (change)="checkBoxChange($event,row)" [checked]="row.select.selected">
                                </mat-checkbox>
                            </mat-cell>
                        </ng-container>
                        <ng-container *ngFor="let colDef of columns">
                            <ng-container [matColumnDef]="colDef.name">
                                <mat-header-cell mat-sort-header *matHeaderCellDef>
                                    <span style="flex:1;">{{colDef.title}}</span>
                                </mat-header-cell>
                                <mat-cell [ngStyle]="cellStyle(row[colDef.name])" [ngClass]="{'cell-selected': row[colDef.name].selected}" (click)="cellClick($event,row[colDef.name])" *matCellDef="let row;let idx = index;let even = even;let odd = odd;">
                                    {{row[colDef.name].day}}
                                    <!-- <div>{{element[colDef.name].year}}年{{element[colDef.name].month}}月{{element[colDef.name].rem}}</div> -->
                                </mat-cell>
                            </ng-container>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row [ngClass]="{ 'row-selected': row.select.selected}" (click)="rowClick($event,row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>

                    <mat-table *ngIf="true" #treeTable [dataSource]="treeTableDataSource" matSort>
                        <ng-container matColumnDef="lineNo">
                            <mat-header-cell style="height:49px" *matHeaderCellDef>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row;let lineno = index;">
                                <span>{{lineno + 1}}</span>
                            </mat-cell>
                        </ng-container>
                        <ng-container *ngFor="let colDef of treeTableColumns">
                            <ng-container [matColumnDef]="colDef.name">
                                <mat-header-cell [ngStyle]="{flex: '0 0 ' + colDef.width + 'px' }" mat-sort-header *matHeaderCellDef>
                                    <span style="flex:1;">{{colDef.title}}</span>
                                </mat-header-cell>
                                <mat-cell [ngStyle]="{flex: '0 0 ' + (colDef.width) + 'px'}" *matCellDef="let row;">
                                    <span *ngIf="firstColumn(colDef.name)" [style.width.px]="(row.level)*16">
                                    </span>
                                    <span *ngIf="firstColumn(colDef.name)" (click)="collapseClick($event,row)" [ngClass]="collapseStyleClass(row)" class="fa fa-fw"></span>
                                    <span *ngIf="firstColumn(colDef.name)" [style.width.px]="16" class="fa fa-fw"></span>
                                    <span>{{row[colDef.name]}}</span>
                                </mat-cell>
                            </ng-container>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="treeTableDisplayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: treeTableDisplayedColumns;when:rowWhen"></mat-row>
                    </mat-table>
                </div>

            </gx-split-container-item>
            <gx-split-container-item panelType="panel2">Panel3内容</gx-split-container-item>
        </gx-split-container>
    </gx-split-container-item>
</gx-split-container>