<p>
    purchase-order-list works!
</p>

<gx-split-container [splitterDistance]="0" showSplitter panel1MinSize=0 collpasePanel=1 cdkTrapFocus borderStyle='border' [panel1Style]="{ color: 'black' }" height=550>
    <gx-split-container-item panelType="panel1">
    </gx-split-container-item>
    <gx-split-container-item panelType="panel2">
        <gx-split-container orientation=2 collpasePanel='2'>
            <gx-split-container-item panelType="panel1">
                <div class="example-container mat-elevation-z8">
                    <div class="example-header">
                        <mat-form-field>
                            <input #globalFilter matInput (keyup)="applyFilter($event)" placeholder="Filter">
                        </mat-form-field>
                    </div>
                    <mat-table *ngIf="false" #table [dataSource]="dataSource" matSort>
                        <ng-container matColumnDef="select">
                            <mat-header-cell mat-sort-header *matHeaderCellDef>
                                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                                </mat-checkbox>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <mat-checkbox (click)="$event.stopPropagation()" (change)="checkBoxChange($event,row)" [checked]="row.select.selected">
                                </mat-checkbox>
                            </mat-cell>
                        </ng-container>
                        <ng-container *ngFor="let colDef of columns">
                            <ng-container [matColumnDef]="colDef.name">
                                <mat-header-cell mat-sort-header *matHeaderCellDef>
                                    <span style="flex:1;">{{colDef.title}}</span>
                                </mat-header-cell>
                                <mat-cell [ngStyle]="cellStyle(row[colDef.name])" [ngClass]="{'cell-selected': row[colDef.name].selected}" (click)="cellClick($event,row[colDef.name])" *matCellDef="let row;let idx = index;let even = even;let odd = odd;">
                                    {{row[colDef.name].day}}
                                </mat-cell>
                            </ng-container>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row [ngClass]="{ 'row-selected': row.select.selected}" (click)="rowClick($event,row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>

                    <mat-table *ngIf="true" #treeTable [dataSource]="treeTableDataSource" matSort matSortDisableClear>
                        <!-- <ng-container matColumnDef="lineNo">
                             <mat-header-cell style="height:49px" *matHeaderCellDef>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row;let lineno = index;">
                                <span>{{lineno + 1}}</span>
                            </mat-cell>
                        </ng-container> -->
                        <ng-container *ngFor="let colDef of treeTableColumns">
                            <ng-container [matColumnDef]="colDef.name">
                                <mat-header-cell mat-sort-header [ngStyle]="rowCellStyle(row,colDef)" *matHeaderCellDef="let row;" (dragstart)="onColumnDragStart($event,colDef)" (dragover)="onColumnDragover($event,colDef)" (dragleave)="onColumnDragleave($event,colDef)" (drop)="onColumnDrop($event,colDef)"
                                    (mousedown)="onHeaderMousedown($event,colDef)" [attr.draggable]="colDef.draggable" [attr.tabindex]="colDef.sortable ? tabindex : null" (keydown)="onHeaderKeydown($event,colDef)">
                                    <span style="flex:1;">{{colDef.title}}</span>
                                    <span class="ui-column-resizer" *ngIf="resizableColumns && colDef.resizable !=false" (click)="$event.stopPropagation()" (mousedown)="initColumnResize($event,colDef)"></span>
                                </mat-header-cell>
                                <mat-cell [ngStyle]="rowCellStyle(row,colDef)" *matCellDef="let row;let index = index;">
                                    <span *ngIf="firstColumn(colDef.name)" [style.width.px]="(row.dataBoundItem.level)*16">
                                    </span>
                                    <span *ngIf="firstColumn(colDef.name)" (click)="collapseClick($event,row)" [ngClass]="collapseStyleClass(row)" class="fa fa-fw"></span>
                                    <span *ngIf="firstColumn(colDef.name)" [style.width.px]="16" class="fa fa-fw"></span>
                                    <span *ngIf="!colDef.expressionFunc;else elseBlock;">{{row.dataBoundItem[colDef.name]}}</span>
                                    <ng-template #elseBlock>
                                        <span>{{colDef.expressionFunc(row,index)}}</span>
                                    </ng-template>
                                </mat-cell>
                            </ng-container>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="treeTableDisplayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: treeTableDisplayedColumns;"></mat-row>
                    </mat-table>
                    <div #resizerHelper class="ui-column-resizer-helper ui-state-highlight" style="display:none"></div>
                    <span #reorderIndicatorUp class="fa fa-arrow-up ui-datatable-reorder-indicator-up" style="position: absolute; display: none;"></span>
                    <span #reorderIndicatorDown class="fa fa-arrow-down ui-datatable-reorder-indicator-down" style="position: absolute; display: none;"></span>
                </div>

            </gx-split-container-item>
            <gx-split-container-item panelType="panel2">Panel3内容</gx-split-container-item>
        </gx-split-container>
    </gx-split-container-item>
</gx-split-container>