<ul class="item-wrap">
    <li *ngFor="let node of getChilds(root)" [ngClass]="itemClass(node)">
        <div fxLayout (mouseover)="onItemMouseOver(node)" (mouseleave)="onItemMouseLeave(node)" class="item-border">
            <div fxLayout [style.width.px]="node.level*16">
                <div fxItem="0 0 16px" fxItemWidth='16px' [class.bbit-tree-elbow-line]="! identNode.isLast" *ngFor="let identNode of node.getParents()"></div>
            </div>
            <div fxLayout>
                <div fxItem class="item-link" (click)="node.expand()" fxItem="0 0 16px" fxItemWidth="16px" [ngClass]="getHitArea(node)"></div>
                <div fxItem (click)="node.checkBoxClick()" [ngClass]="getCheckBoxState(node)"></div>
                <div fxItem (click)="onClick(node)" style="cursor: pointer;" [ngClass]="getItemIcon(node)"></div>
                <div fxItem (click)="onClick(node)" class="item-link"> {{node.name}} </div>
                <div [style.display]="node.hover ? 'flex' : 'none'" fxItem fxLayout fxAlignMain="center" fxAlignCross="center">
                    <div (click)="onItemCloseClick(node)" class="item-close"></div>
                </div>
            </div>
        </div>
        <div *ngIf="node.expanded">
            <gx-nav-treeview-item (itemMouseOver)="onItemMouseOver($event)" (itemMouseLeave)="onItemMouseLeave($event)" (itemCloseClick)="onItemCloseClick($event)" (itemClick)="onClick($event)" [root]="node">
            </gx-nav-treeview-item>
        </div>
    </li>
</ul>

<!--[routerLink]="[node.path]" [queryParams]="{subappid:node.param}"-->
<!--
<ul class="item-wrap" *ngFor="let node of items"> [style.margin-left.px]="node.level*16"
    <li class="item-border" (click)="onclick(node)" [class.parent]="node.level == 1" [class.root]="node.level == 0">
        <div [style.margin-left.px]="node.level*15">
            <span [routerLink]="[node.path]" [queryParams]="{subappid:node.param}">
            <span>{{node.level}}</span>
            <span>{{node.name}}</span></span>
            <span (click)="node.expand()"> {{node.geticon}} </span>
        </div>
    </li>
    <div *ngIf="node.expanded">
        <gx-nav-treeview-item [root]="node"></gx-nav-treeview-item>
    </div>
</ul>-->

<!--[style.margin-left.px]=" node.level == 0 ? 0 :15" [style.width.px]=" 188 - node.level*15"-->
<!--[routerLink]="[node.path]" [queryParams]="{subappid:node.param}-->