<!-- <ul [ngClass]="{'ui-helper-reset':root, 'ui-widget-content ui-corner-all ui-helper-clearfix ui-menu-child ui-shadow':!root}" class="ui-menu-list" (click)="listClick($event)">
    <ng-template ngFor let-child [ngForOf]="(root ? item : item.items)">
        <li #item [ngClass]="{'ui-menuitem ui-widget ui-corner-all':true,'ui-menu-parent':child.items,'ui-menuitem-active':item==activeItem}" (mouseenter)="onItemMouseEnter($event, item, child)" (mouseleave)="onItemMouseLeave($event)">
            <a [href]="child.url||'#'" class="ui-menuitem-link ui-corner-all" [attr.target]="child.target" [ngClass]="{'ui-state-disabled':child.disabled}" (click)="itemClick($event, child)">
                <span class="ui-submenu-icon fa fa-fw fa-caret-right" *ngIf="child.items"></span>
                <span class="ui-menuitem-icon fa fa-fw" *ngIf="child.icon" [ngClass]="child.icon"></span>
                <span class="ui-menuitem-text">{{child.label}}</span>
            </a>
            <x-tieredMenuSub class="ui-submenu" [item]="child" *ngIf="child.items"></x-tieredMenuSub>
        </li>
    </ng-template>
</ul> -->