<div #container class="ui-split-container">
    <div #auxPanel class="aux-panel">
        <ng-content select="gx-split-container-item[panelType=aux]"></ng-content>
    </div>
    <div #mainPanel class="main-panel">
        <div #resizeLayer [style.cursor]="frameLayerCursorStyle" *ngIf="resizing" [ngClass]="{'ui-dialog-mask':resizing}" style="z-index:9999;opacity:0"></div>
        <ng-container *ngIf="this.resizable && direction === 'Horizontal'">
            <div class="horizonatal-split-panel ui-resizable-handle ui-icon ui-icon-gripsmall-diagonal-se" (mousedown)="initResize($event,spEnum.leftCenter)"></div>
        </ng-container>
        <ng-container *ngIf="this.resizable && direction === 'Vertical'">
            <div class="vertical-split-panel ui-resizable-handle ui-icon ui-icon-gripsmall-diagonal-se" (mousedown)="initResize($event,spEnum.topCenter)"></div>
        </ng-container>
        <ng-content select="gx-split-container-item[panelType=main]"></ng-content>
    </div>
</div>