@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "../../custom-var";
.ui-split-container {
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
    position: relative;
    overflow: auto;
    display: flex;
}

.ui-split-container-border {
    border: 2px solid #c2c2c2;
}

.ui-split-container.horizonatal-split-container {
    flex-flow: row nowrap;
}

.ui-split-container.vertical-split-container {
    flex-flow: column nowrap;
}

.ui-split-container .panel1.horizonatal-panel,
.ui-split-container .panel2.horizonatal-panel,
.ui-split-container .panel1.vertical-panel,
.ui-split-container .panel2.vertical-panel {
    flex: 0 0 auto;
}

.ui-split-container .panel1 {
    display: block;
    position: relative;
    margin: 0px;
}

.ui-split-container .panel2 {
    display: block;
    position: relative;
    margin: 0px;
}

.ui-split-container .splitter {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 95;
    background-color: #c2c2c2;
    // box-shadow: 1px 1px 2px #226;
}

.ui-split-container .horizonatal-splitter {
    cursor: w-resize;
    bottom: 0px;
    top: 0px;
    flex-direction: column;
}

.ui-split-container .vertical-splitter {
    cursor: n-resize;
    left: 0px;
    right: 0px;
}

.ui-split-container .splitter>span {
    cursor: pointer;
}

.ui-split-container .splitter>span:hover {
    color: theme-color("primary");
}

.ui-split-container .split-container-layer-mask {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2000;
    background-color: transparent;
    opacity: 0;
}