.ui-split-container {
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
    position: relative;
    overflow: auto;
    display: flex;
}

.ui-split-container.horizonatal-split-container {
    flex-flow: row wrap;
}

.ui-split-container.vertical-split-container {
    flex-flow: column wrap;
}

.ui-split-container .panel1.horizonatal-panel,
.ui-split-container .panel2.horizonatal-panel,
.ui-split-container .panel1.vertical-panel,
.ui-split-container .panel2.vertical-panel {
    flex: 1;
}

.ui-split-container .panel1 {
    background-color: salmon;
    display: block;
    margin: 0px;
}

.ui-split-container .panel2 {
    background-color: darkgray;
    display: block;
    position: relative;
    margin: 0px;
}

.ui-split-container .horizonatal-splitter {
    z-index: 95;
    background-color: blue;
    cursor: w-resize;
    bottom: 0px;
    top: 0px;
}

.ui-split-container .vertical-splitter {
    z-index: 95;
    background-color: blue;
    cursor: n-resize;
    left: 0px;
    right: 0px;
}

.ui-split-container .split-container-layer-mask {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;
}