.pageload-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
    visibility: hidden;
}

.pageload-overlay.show {
    visibility: visible;
}

.pageload-overlay svg {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.pageload-overlay svg path {
    fill: rgba(111, 111, 111, 0.618);
    opacity: 0.7;
    -webkit-filter: blur(0.5px);
    filter: blur(0.5px);
}

.loading-text {
    position: absolute;
    top: 55%;
    width: 100%;
    text-align: center;
    padding-top: (20) / 2 + 2px;
    visibility: hidden;
    z-index: 10000;
}

.loading-text.show {
    visibility: visible;
}

.other-comp-container {
    display: flex;
    flex: 1 0 100%;
    z-index: 9996;
}

.pageload-overlay::after,
.pageload-overlay::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -10px;
    border-radius: 50%;
    visibility: hidden;
    opacity: 0;
    z-index: 10000;
    -webkit-transition: opacity 0.15s, visibility 0s 0.15s;
    transition: opacity 0.15s, visibility 0s 0.15s;
}

.pageload-overlay::after {
    background: #6cc88a;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
    -webkit-animation: moveRight 0.6s linear infinite alternate;
    animation: moveRight 0.6s linear infinite alternate;
}

.pageload-overlay::before {
    background: rgb(216, 41, 41);
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
    -webkit-animation: moveLeft 0.6s linear infinite alternate;
    animation: moveLeft 0.6s linear infinite alternate;
}

@-webkit-keyframes moveRight {
    to {
        -webkit-transform: translateX(20px);
    }
}

@keyframes moveRight {
    to {
        transform: translateX(20px);
    }
}

@-webkit-keyframes moveLeft {
    to {
        -webkit-transform: translateX(-20px);
    }
}

@keyframes moveLeft {
    to {
        transform: translateX(-20px);
    }
}

.pageloading-loading.pageload-overlay::after,
.pageloading-loading.pageload-overlay::before {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

circle {
    -webkit-transition: stroke-dasharray .25s;
    transition: stroke-dasharray .25s;
}

.svg-wrapper {
    background: #333;
    height: 60px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 320px;
}

.shape {
    fill: transparent;
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
    stroke: #19f6e8;
}

.text {
    color: #fff;
    font-family: 'Roboto Condensed';
    font-size: 22px;
    letter-spacing: 8px;
    line-height: 32px;
    position: relative;
    top: -48px;
    text-align: center;
}

@keyframes draw {
    0% {
        stroke-dasharray: 140 540;
        stroke-dashoffset: -474;
        stroke-width: 8px;
    }
    100% {
        stroke-dasharray: 760;
        stroke-dashoffset: 0;
        stroke-width: 2px;
    }
}

.svg-wrapper:hover .shape {
    -webkit-animation: 0.5s draw linear forwards;
    animation: 0.5s draw linear forwards;
}