.footer {
    width: 100%;
    height: 60px;
    border: solid 1px #102a3e;
    overflow: visible;
    display: block;
    float: left;
    opacity: 0.9;
    border-radius: 0px 0px 5px 5px;
    position: absolute;
    box-shadow: inset 0 0 1px #ffffff;
    background-color: #619bb9;
    background: -webkit-gradient(linear, center top, center bottom, from(#327aa4), color-stop(45%, #2e4b5a), to(#5cb0dc));
    /*background: linear-gradient(top,#327aa4,#2e4b5a,#5cb0dc);*/
}

x-footer:host {
    display: flex;
    flex: 0 0 auto;
    height: 60px;
    line-height: 60px;
    background-color: #327aa4;
    /*position: fixed;
    bottom: 0px;
    left:0px;*/
    /*width: 100%;*/
    /*background:url(/assets/images/logo_header.png);*/
}