<div style="position: absolute">
    <x-dropdown #dropdown [editable]="editable" (onKeydown)="keydownHandler($event,op,dropdown.container)" (onFocus)="focusHandler($event,op,dropdown.container)" [options]="options" [selectItemValue]="selectedOption" [(ngModel)]="selectedOption" [style]="dropdownStyle">
    </x-dropdown>
    <gx-overlayPanel (selectResult)="selectResult($event)" [componentOutlet]="componentOutlet" [context]="context" [style]="panelStyle" [dismissable]="true" #op>
    </gx-overlayPanel>
</div>