<div #wrapper fxLayout="column" style="margin: 0rem;padding: 0rem; width: 100%; height: 100%;border: 1px solid blue;">
    <div #toolbarWrapper fxLayout fxAlignCross='center' fxGap="0px 0px 0px 5px" fxHeight='36px' fxItem="none" fxItemStyle="border-bottom: 1px solid blue;">

    </div>
    <div #headerWrapper fxLayout fxAlignCross='center' fxItem="1 1 30%" fxStyle="border-bottom: 1px solid blue;">

    </div>
    <div #bodyWrapper fxLayout fxItem='1 1 50%' fxItemStyle="border-bottom: 1px solid blue;overflow: auto;">
        <div #mainWrapper fxLayout='column' fxFill fxItem='fill'>
            <div #main fxItem='fill' fxItemStyle="overflow:auto;">
                <div (click)="openPurchaseOrder()">SaleOrderQuery</div>

                <gx-split-container borderStyle='border' orientation=1>
                    <gx-split-container-item panelType="panel1">Panel1内容<button (click)="getMonthDays($event)">获取月份天数数据</button></gx-split-container-item>
                    <gx-split-container-item panelType="panel2">
                        <gx-split-container orientation=2>
                            <gx-split-container-item panelType="panel1">Panel2内容</gx-split-container-item>
                            <gx-split-container-item panelType="panel2">
                                <gx-split-container fixedPanel="panel2" collpasePanel='2'>
                                    <gx-split-container-item panelType="panel1">Panel3内容</gx-split-container-item>
                                    <gx-split-container-item panelType="panel2">Panel4内容</gx-split-container-item>
                                </gx-split-container>
                            </gx-split-container-item>
                        </gx-split-container>
                    </gx-split-container-item>
                </gx-split-container>

            </div>
        </div>
    </div>
    <div #footerWrapper fxLayout fxAlignCross='center' fxItem="none" fxItemHeight="48px">
        <div #footerLeft fxItem='fill' fxLayout fxAlignMain="space-evenly" fxAlignCross="center" fxStyle="cursor: pointer;" fxHeight="36px">

        </div>
        <div #footerRight fxItem='fill' fxLayout fxAlignMain='flex-end' fxAlignCross="center" fxMinHeight="36px">

        </div>
    </div>
</div>