<div #container [ngClass]="{'ui-dialog ui-widget ui-widget-content ui-corner-all ui-shadow':true,'ui-dialog-rtl':rtl,'ui-dialog-draggable':draggable}" [ngStyle]="style" [class]="styleClass" [style.display]="visible ? 'block' : 'none'" [style.width.px]="width"
    [style.height.px]="height" (mousedown)="moveOnTop()" [@dialogState]="visible ? 'visible' : 'hidden'">
    <div [style.textAlign]="formTitleAlign[titleAlign]" class="ui-dialog-titlebar ui-widget-header ui-helper-clearfix ui-corner-top" (dblclick)="maximize($event)" (mousedown)="initDrag($event)" (mouseup)="endDrag($event)" *ngIf="showHeader">
        <span class="ui-dialog-title" *ngIf="header">{{header}}</span>
        <span class="ui-dialog-title" *ngIf="headerFacet"><ng-content select="p-header"></ng-content></span>

        <a *ngIf="controlBox && closable" [ngClass]="{'ui-dialog-titlebar-icon ui-dialog-titlebar-close ui-corner-all':true}" href="#" role="button" (click)="close($event)">
            <span class="fa fa-windows fa-window-close"></span>
        </a>
        <a *ngIf="controlBox && maximizeBox" [ngClass]="{'ui-dialog-titlebar-icon ui-dialog-titlebar-close ui-corner-all':true}" href="#" role="button" (click)="maximize($event)">
            <span [ngClass]="{'fa-window-maximize':modalWindowState == mwState.Normal || oldModalWindowState ==mwState.Normal,'fa-window-restore': modalWindowState==mwState.Maximized || oldModalWindowState == mwState.Maximized}" class="fa fa-fw"></span>
        </a>
        <a *ngIf="controlBox && minimizeBox" [ngClass]="{'ui-dialog-titlebar-icon ui-dialog-titlebar-close ui-corner-all':true}" href="#" role="button" (click)="minimize($event)">
            <span class="fa fa-fw fa-window-minimize"></span>
        </a>
        <a *ngIf="controlBox && fullscreenBox" [ngClass]="{'ui-dialog-titlebar-icon ui-dialog-titlebar-close ui-corner-all':true}" href="#" role="button" (click)="fullScreen($event)">
            <span class="fa fa-fw fa-arrows-alt"></span>
        </a>
    </div>
    <div #iFrameLayer [style.cursor]="frameLayerCursorStyle" *ngIf="dragging || resizing" [ngClass]="{'ui-dialog-mask':dragging || resizing}" style="z-index:9999;opacity:0">

    </div>
    <div #content class="ui-dialog-content ui-widget-content" [ngStyle]="flexStyle">
        <ng-container *ngFor="let comp of componentOutlets | filter:enablePredicate">
            <ng-container *gxComponentOutlet="comp;context: compctx"></ng-container>
        </ng-container>
        <ng-template *gxHostContainer="!!!isForceAppend && formModel && formModel.componentRef? formModel.componentRef :componentRef;context:compctx"></ng-template>
        <ng-content></ng-content>
    </div>
    <ng-content select="p-footer"></ng-content>
    <ng-container *ngIf="resizable">
        <div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 90;cursor: se-resize;" (mousedown)="initResize($event,spEnum.rightBottom)"></div>
        <div class="ui-resizable-handle ui-resizable-righttop ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 91;cursor: ne-resize;" (mousedown)="initResize($event,spEnum.rightTop)"></div>
        <div class="ui-resizable-handle ui-resizable-lefttop ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 92;cursor: nw-resize;" (mousedown)="initResize($event,spEnum.leftTop)"></div>
        <div class="ui-resizable-handle ui-resizable-leftbottom ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 93;cursor: sw-resize;" (mousedown)="initResize($event,spEnum.leftBottom)"></div>
        <div class="ui-resizable-handle ui-resizable-left ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 94;cursor: w-resize;" (mousedown)="initResize($event,spEnum.leftCenter)"></div>
        <div class="ui-resizable-handle ui-resizable-right ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 95;cursor: e-resize;" (mousedown)="initResize($event,spEnum.rightCenter)"></div>
        <div class="ui-resizable-handle ui-resizable-top ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 96;cursor: n-resize;" (mousedown)="initResize($event,spEnum.topCenter)"></div>
        <div class="ui-resizable-handle ui-resizable-bottom ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 97;cursor: s-resize;" (mousedown)="initResize($event,spEnum.bottomCenter)"></div>
    </ng-container>
</div>